# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.StravaDiscordBot.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\eausv\Desktop\Development\Projects\strava-discord-bot-k8s\src\.idea\.idea.StravaDiscordBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
